*{
  box-sizing: border-box;
  font-family: sans-serif;
}
p{
  color: white;
}
h1{
  color: #6CBFEE;
  margin-right: 50px;
}
h5{
  color: #BFD7E9;
  text-align: right;
  margin-right: 40px;
}

.top{
  position: relative;
}

.frame-a{
  background-color: #6CBFEE;
  width: 786px;
  padding: 40px;
  border-radius: 4px;
  margin-left: 320px;
  margin-bottom: 14px;
  transition: background-color 2s, transform;
}

.frame-b {
  background-color: #3594CB;
  width: 786px;
  padding: 40px;
  border-radius: 4px;
  margin-left: 320px;
  margin-bottom: 14px;
  transition: background-color 2s, transform;
}

.frame-a:hover {
  background-color: green;
}

.frame-b:hover {
  background-color: green;
}

.frame-a h1{
  color: white;
  border-bottom: 1px solid white;
}

.frame-b h1{
  color: white;
  border-bottom: 1px solid white;

}

.time {
  position: absolute;
  left: 0px;
  width: 275px;
  margin-left: 10px;
}

.time h1{
  text-align: right;

  margin-top: -20px;}

.all{
  list-style: none;
}

.dates{
  margin-right: 50px;
}

.all::before{
    position: absolute;
    top: 50px;
    width: 10px;
    height: 100%;
    content: '';
    background: #AFDCF8;
    left: 300px;
}

.fa{
  float: right;
  margin-top: 6px;
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #3899D7;
  border: 8px solid #A4D7F9;
  border-radius: 100%;
  color: white;
  font-size: 20px;

}

.frame-a:before{
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-right-color: #6CBFEE;
  position: absolute;
  left: 305px;
  top: 15px;
}

.frame-b:before{
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-right-color: #3594CB;
  position: absolute;
  left: 305px;
  top: 15px;
}
